{{ define "main" }}

<!-- recent post 特色文章显示区域 type: "recent" -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-12 recent-post-slider">
        <!-- 获取最新的5篇文章 -->
        {{ $topPosts := first 5 (sort .Site.RegularPages "PublishDate" "desc") }}

        <!-- 显示每篇文章 -->
        {{ range $topPosts }}
        <article class="card recent-post">
          <div class="row no-gutters align-items-center">
            <div class="col-md-9">
              <div class="card-body">
                <!-- 顯示在title下方的Author__PublishDate__Category -->
                <div class="mb-3 post-meta">
                  <span>By {{ .Site.Params.Author }}</span>
                  {{ if not .Params.HideDate }}
                  <span class="border-bottom border-primary px-2 mx-1"></span>
                  <span>{{ .PublishDate.Format "02 January 2006" }}</span>
                  {{ end }}
                  <span class="border-bottom border-primary px-2 mx-1"></span>
                  {{ range .Params.Categories }}
                  <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" class="text-primary">{{ . | title |
                    humanize }}</a>
                  {{ end }}
                </div>
                <a href="{{ .Permalink }}" class="h4 font-weight-bold d-block text-dark mb-4 card-title">{{ .Title |
                  markdownify }}</a>
                <p class="card-text">{{ .Description }}...</p>
              </div>
            </div>
            <div class="col-md-3 desktop-view">
              {{ if .Params.Image }}
              <img src="{{ .Params.Image | absURL }}" class="img-fluid" alt="{{ .Title | markdownify }}">
              {{ end }}
            </div>
          </div>
        </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<!-- Slider Navigation -->
<div class="slider-navigation">
  <button class="btn btn-outline-primary prev-arrow"> ◀ </button>
  <button class="btn btn-outline-primary next-arrow"> ▶ </button>
</div>
<!-- /recent post -->

<!-- blog post -->
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <!-- main content -->
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          <!-- 创建一个包含 $topPosts Permalink 的列表 -->
          {{ $topPostPermalinks := slice }}
          {{ range $topPosts }}
          {{ $topPostPermalinks = $topPostPermalinks | append .Permalink }}
          {{ end }}

          <!-- 显示除 $topPosts 之外的所有文章 -->
          {{ range (sort (where .Site.RegularPages "Permalink" "not in" $topPostPermalinks) "PublishDate" "desc") }}
          <div class="col-md-12 mb-4">
            <article class="card">
              <div class="card-body">
                <a href="{{ .Permalink }}" class="h5 d-block my-3">{{ .Title | markdownify }}</a>
                <!-- 顯示在title下方的Author__PublishDate__Category -->
                <div class="mb-3 post-meta">
                  <span>By {{ .Site.Params.Author }}</span>
                  {{ if not .Params.HideDate }}
                  <span class="border-bottom border-primary px-2 mx-1"></span>
                  <span>{{ .PublishDate.Format "02 January 2006" }}</span>
                  {{ end }}
                  <span class="border-bottom border-primary px-2 mx-1"></span>
                  {{ range .Params.Categories }}
                  <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" class="text-primary">{{ . | title |
                    humanize }}</a>
                  {{ end }}
                </div>
                <p class="card-text">{{ .Description }}...</p>
              </div>
            </article>
            <div class="card-divider pt-5"></div>
          </div>
          {{ end }}
        </div>
      </div>

      <!-- sidebar -->
      <div class="col-lg-4">
        {{ partial "sidebar.html" . }}
      </div>
      <!-- /sidebar -->

      <!-- pagination -->
      <div class="col-12 mt-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
<!-- /blog post -->

{{ end }}