/* card */
.card {
  border: 0;
  border-radius: 0;

  &-header,
  &-footer,
  &-img,
  &-img-top {
    border: 0;
    border-radius: 0;
  }
}

.card-body {
  padding: 1.25rem;
}

.card-divider {
  height: 1px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.recent-post {
  .card-title {
    @include tablet {
      margin-left: 0;
      font-size: 30px;
    }
  }

  &-slider {

    @media screen and (min-width: 600px) {
      .slick-dots {
        position: absolute;
        height: 100%;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;

        li {
          flex: 1 1 auto;
          position: relative;
          list-style-type: none;

          button {
            position: absolute;
            padding: 0;
            border: 0;
            background: $border-color;
            color: transparent;
            overflow: hidden;
            width: 1px;
            height: 100%;
            transition: 0s;
          }

          &.slick-active {
            button {
              background: $primary-color;
              width: 6px;
              left: -2px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 599px) {
      .slick-dots {
        position: absolute;
        height: 5px;
        width: 100%;
        right: 0;
        bottom: -40px;
        display: flex;
        padding: 0;

        li {
          flex: 1 1 auto;
          position: relative;
          list-style-type: none;
          width: 100%;
          height: 100%;

          button {
            position: absolute;
            padding: 0;
            border: 0;
            background: $border-color;
            color: transparent;
            overflow: hidden;
            width: 100%;
            height: 1px;
          }

          &.slick-active {
            button {
              background: $primary-color;
              top: -2px;
              height: 5px;
            }
          }
        }
      }
    }
  }
}

/* Adjust positioning of buttons */
.slider-navigation {
  display: flex;
  justify-content: center;
  bottom: 10px;
  width: 100%;
  z-index: 10;
  gap: 10px;
  /* Adjust spacing between buttons */
}

.prev-arrow,
.next-arrow {
  top: 50%;
  /* 垂直居中 */
  color: #666;
  margin-top: 50px;
}


.post-meta {
  span {
    color: #444;
    font-weight: 500;
  }
}

/* recent post */
.recent-post-thumb {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.small-post-border {
  &:not(:last-child) {
    border-right: 1px solid $border-color;

    @include desktop {
      border-right: 0;
      border-bottom: 1px solid $border-color;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
}

@media (min-width: 992px) {
  .main-content {
    flex: 1 0 auto;
  }

  .col-lg-4 {
    max-width: none;
    /* Remove the max-width restriction */
  }
}

@media (max-width: 991.98px) {
  .main-content {
    width: 100%;
  }

  .sidebar {
    display: none;
    /* 隐藏侧边栏 */
  }
}

/* widget */
.widgets {
  padding-left: 25px;
  border-left: 1px solid #eee;

  @include desktop {
    padding-left: 0;
    border-left: 0;
  }
}

.widget {
  text-align: center;
  margin-bottom: 50px;

  &-title {
    display: inline-block;
    border-top: .5px solid $primary-color;
    border-bottom: .5px solid $primary-color;
    padding: 10px 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  li {
    margin-bottom: 10px;

    a {
      color: $text-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.social-links {
  li {
    a {
      height: 35px;
      width: 35px;
      background: $primary-color;
      color: $white;
      display: block;
      line-height: 35px;

      &:hover {
        color: $white;
      }
    }
  }
}

/* pagination */
.pagination {
  justify-content: center;
  /* 垂直居中对齐（如果需要的话）*/

  .page-item {

    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      color: $primary-color;
      border-top: 0;
      border-bottom: 0;

      &:hover {
        background: $primary-color;
        color: $white;
      }
    }

    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 0;
      }
    }

    &.active {
      .page-link {
        background: $white;
        color: $text-color;
        border: 1px solid $primary-color;
      }
    }
  }
}

.author-thumb-sm {
  border-radius: 50%;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
  max-height: 165px;
  max-width: 165px;
}

.author-thumb-about {
  border-radius: 50%;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
  max-height: 165px;
  max-width: 165px;
}

@media (min-width: 576px) {
  .author-thumb-about {
    border-radius: 50%;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
    max-height: 240px;
    max-width: 240px;
  }
}

@media (min-width: 992px) {
  .author-thumb-about {
    border-radius: 50%;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    max-width: 300px;
  }
}


/* markdown style */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap rel="stylesheet"');

.content {
  * {
    font-family: "Open Sans", "Noto Sans TC", sans-serif, "Inconsolata", monospace;
    font-size: 16px;
    color: $black;
    line-height: 1.8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  ol {
    padding-left: 20px;
  }

  ul {
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 15px;
      list-style-type: none;

      &::before {
        position: absolute;
        content: "\25b8";
        font-family: $icon-font;
        font-size: 14px;
        left: 0;
        top: 1px;
        color: $primary-color;
        transition: .3s ease;
      }
    }
  }

  table {
    text-align: left;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;

    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $gray, $amount: 2);
    }

    tbody {
      background: $gray;

      td {
        text-align: left !important;
      }
    }
  }


  blockquote {
    padding: 20px;
    background: $gray;
    border-left: 3px solid $primary-color;

    p {
      margin-bottom: 0;
      color: $text-color-dark;
      font-style: italic !important;
    }
  }


  pre {
    padding: 20px 20px;
    background: $gray;

    code {
      border: 0;
      background: transparent;
      padding: 0;
    }
  }

  a {
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }

  code {
    padding: 3px 5px;
    background: $gray;
    border: 1px solid $border-color;
    color: $text-color-dark;
    border-radius: 12px;
    overflow: hidden;
    /* 讓 iframe 圓角可見 */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);

    span {
      color: $white;
    }
  }

}

#introduction p {
  font-weight: 400;
  color: #666;
  font-size: 18px;
  line-height: 1.7;
  font-family: "Open Sans", "Noto Sans TC", sans-serif;
  margin-top: 0;
  margin-bottom: 2em;
}


footer a {
  @extend .text-dark;

  &:hover {
    color: $primary-color !important;
    text-decoration: underline;
  }
}

/* markdown style */